<div class="wrapper">
  <div class="shell">
    <div class="container">
      <div class="Favourites">
        <h1>Favourites</h1>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <button type="button" class="btn">
                <img
                  src="../assets/images/1.jpg"
                  alt="Product"
                  class="img-responsive"
                />
              </button>
            </div>
            <div class="wsk-cp-text">
              <div class="title-product">
                <h3>Lorem ipsum</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <img
                src="../assets/images/harry.jpg"
                alt="Product"
                class="img-responsive"
              />
            </div>
            <div class="wsk-cp-text">
              <div class="title-product">
                <h3>Lorem, ipsum.</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <img
                src="../assets/images/download.jpg"
                alt="Product"
                class="img-responsive"
              />
            </div>
            <div class="wsk-cp-text">
              <div class="title-product">
                <h3>Lorem, ipsum.</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <img
                src="../assets/images/2.jpg"
                alt="Product"
                class="img-responsive"
              />
            </div>
            <div class="wsk-cp-text">
              <div class="title-product">
                <h3>Lorem, ipsum.</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <img
                src="../assets/images/download.jpg"
                alt="Product"
                class="img-responsive"
              />
            </div>
            <div class="wsk-cp-text">
              <div class="title-product">
                <h3>Lorem, ipsum.</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <img
                src="../assets/images/1.jpg"
                alt="Product"
                class="img-responsive"
              />
            </div>
            <div class="wsk-cp-text">
              <div class="title-product">
                <h3>Lorem, ipsum.</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <img
                src="../assets/images/2.jpg"
                alt="Product"
                class="img-responsive"
              />
            </div>
            <div class="wsk-cp-text">
              <div class="title-product">
                <h3>Lorem, ipsum.</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <img
                src="../assets/images/harry.jpg"
                alt="Product"
                class="img-responsive"
              />
            </div>
            <div class="wsk-cp-text">
              <div class="title-product">
                <h3>Lorem, ipsum.</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
